[user]
    name = Oleksii Markhovskyi
    email = olexiy.markhovsky@gmail.com
[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --graph
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
[color]
    diff = always
[push]
    default = simple
[branch]
    autosetuprebase = always
